p {
  font-size: 30px;
  text-align: left;
  margin: 20px 0;
  padding-left: 110px;  
  color: lightgoldenrodyellow;
  text-shadow: 3px 3px 1px rgb(26, 173, 83);

}

body {
  background: url(../images/phone.png) no-repeat fixed;
  background-size: cover;
  
   
}

.hidden {
  display: none;
}



.middle {
  width: 82%;
  margin: 0 auto;
  color: lightgoldenrodyellow;
  text-shadow: 3px 3px 1px rgb(165, 20, 20);
}

.card {
  width: 15%;
  margin: 0 auto;
}
